
@{
    ViewData["Title"] = "View";
}

<h2>Izaberite</h2>

<div class="col-md-8 col-md-offset-2">
    <div class="col-md-2">
        <a href='@Url.Action("Index", "Cinemas")'>
            <img src="~/images/CinemaIcon.png" />
        </a>
    </div>
    <div class="col-md-4">     
    </div>
    <div class="col-md-2">
        <a href='@Url.Action("Index", "Theaters")'>
            <img src="~/images/TheaterIcon.png" />
        </a>
    </div>
</div>
